body {
    background-color: lightgray;
}

#gauche{
    display: inline-block;
    width: 40%;
}

#gauche h2{
    text-align: center;
}

#etat{
    width: 75%;
    padding-left:5%;
    padding-right: 5%;
    text-align: center;
    background-color: darkblue;
}



#droite{
    display: inline-block;
    padding-left: 10px;


}
#marchands{
    height: 50px;
}
#marchands td{
    width: 20%;
}