#identite{
    background-color: white;
    padding: 50px;
    margin:5%;
    font-size: large;
    text-align: center;
    text-after-overflow:center;
}

#client li{
    max-height: 0;
    overflow: hidden;
    transition: all .5s;
    background: transparent;
    margin:0;
}

#client p:hover li{
    max-height: 100%;
}