#navbarSupportedContent > ul{
	margin-left: auto;
	margin-right: 0px;
}

#navbarSupportedContent > ul > li {
	border-left: 2px solid gray;
}

nav {
	border-bottom: 2px solid gray;
}

.oi {
	font-size: 20px;
}

#banderole{
	background-color: gray;
	height: 100px;
}