#menu{
	height:90px;
	font-size: 20px;
	text-align: right;
}

#menu > *{
	min-height: 40px;
}

#home{
	background-color: red;
}

#produits{
	background-color: blue;
}

#commandes{
	background-color: green;
}

#recherche{
	background-color: gray;
}

#compte{
	background-color: green;
}

@keyframes menuReduction {
    from {background-color: red;}
    to {background-color: yellow;}
}

.col-3{
	animation-name: menuReduction;
	animation-duration: 4s;
}