body{
    background-color: lightgray;
    width: 100%;
}

div{
    display: block;
}

#gauche{
    display: inline-block;
    width: 40%;
    margin:auto;
}

#imgarticle {
    height: auto;
    padding: 10px;
}
#prixarticle{
    border: 2px black solid;
    text-align: center;

}


#droite{
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin: auto;
}

#detail{
    border: 2px black solid;
    padding:5px;
    margin-bottom: 5px;
}

#detail td{
    width: 40%;
}

#description{
    border: 2px black solid;
    padding-left:5px;
    padding-right: 5px;
    text-align: left;
}